@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: #ffffff !important;
}

@media screen and (max-width: 992px) {
  div.content_carrucel {
    max-width: 992px;
    grid-auto-columns: calc(50% - 9px) !important;
  }
}
@media screen and (max-width: 600px) {
  section.section_carrucel ul {
    width: 100%;
  }
  div.content_carrucel {
    max-width: 600px;
    grid-auto-columns: 100% !important;
  }
}
p {
  margin-bottom: 0 !important;
}

body {
  color: #ffffff !important;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem !important;
  overflow-x: hidden;
  background-color: rgb(235, 236, 242) !important;
}
body header {
  width: 100vw;
}
body header div.content_nav {
  display: flex;
  padding: 4px 10px;
  align-items: center;
  justify-content: space-between;
}
body header div.content_nav:nth-child(1) {
  justify-content: space-between;
  background-color: #272727;
}
body header div.content_nav:nth-child(2) {
  background: #005d89 !important;
  padding-right: 40px;
}
body header div.content_nav h1 {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
}
body header div.content_nav h1 a {
  display: flex;
}
body header div.content_nav h1 a img.img_logo {
  padding: 10px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
body header div.content_nav div.content_bar {
  width: 500px;
  position: relative;
}
body header div.content_nav div.content_bar input {
  width: 450px;
  padding: 10px;
  padding-right: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: 0;
}
body header div.content_nav div.content_bar button {
  width: 50px;
  border-radius: 0 5px 5px 0;
  background-color: #fec400;
  border: none;
  padding: 10px;
  position: absolute;
  border: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 410px;
  margin: auto;
  color: #ffffff;
  transition: all 0.6s ease;
}
body header div.content_nav div.content_bar button:hover {
  background-color: #ffffff;
  color: #fec400;
  transition: all 0.6s ease;
}
body header div.content_nav div.content_bar-options {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: end;
  margin-right: 30px;
  align-items: center;
  align-content: center;
  font-size: 0.8rem;
  margin-left: 15px;
}
body header div.content_nav div.content_bar-options div.cotent_cat {
  display: flex;
  align-items: center;
  text-align: center;
  justify-items: center;
  margin-right: 30px;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: #ffffff;
  color: #005d89;
  cursor: pointer;
}
body header div.content_nav div.content_bar-options div.cotent_cat span {
  margin: 0 5px;
}
body header div.content_nav div.content_bar-options div.content_ubi {
  display: flex;
  align-items: end;
  margin-right: 30px;
  padding: 7px;
  cursor: pointer;
}
body header div.content_nav div.content_bar-options div.content_shop {
  display: flex;
  align-items: center;
  align-content: center;
}
body header div.content_nav div.content_bar-options div.content_shop div.contenedor_carrito {
  color: #ffffff;
  display: flex;
  cursor: pointer;
  flex-direction: column;
}
body header div.content_nav div.content_bar-options div.content_shop div.contenedor_carrito span:nth-child(1) {
  color: #005d89;
  background-color: #ffffff;
  border-radius: 50px;
  width: 30px;
  text-align: center;
  line-height: 1.5;
}
body header div.content_nav div.content_bar-options div.content_shop div.contenedor_carrito span:nth-child(2) {
  margin-top: 5px;
  font-weight: 500;
}
body header div.content_nav nav:nth-child(1) {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 20px;
}
body header div.content_nav nav:nth-child(3) {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: end;
  margin-right: 30px;
}
body header div.content_nav nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
body header div.content_nav nav ul li {
  padding: 5px 10px;
}

main {
  display: flex;
  width: 100vw;
  max-width: 1500px;
  flex-direction: column;
}
main section.section_banner {
  display: flex !important;
  text-align: center;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  justify-content: center;
  align-items: center;
  -o-object-position: center;
     object-position: center;
  padding: 60px 20px;
  height: 60vh;
  -o-object-position: center center;
     object-position: center center;
  flex-direction: column;
}
main section.section_banner header.slogan_header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 100;
}
main section.section_banner header.slogan_header h2 {
  font-size: 3rem !important;
  font-weight: 400;
}
main section.section_banner header.slogan_header p {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
}
main section.section_banner footer.slogan_footer {
  position: relative;
  z-index: 200;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-wrap: nowrap;
  align-items: flex-end;
}
main section.section_banner footer.slogan_footer a {
  border: 3px solid #ffffff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
  display: inline-block;
  padding: 9px 75px;
}
main section.section_banner footer.slogan_footer a:nth-child(1) {
  font-weight: bold;
}
main section.section_banner footer.slogan_footer a:nth-child(2) {
  background-color: #ffffff;
  color: #005d89 !important;
  margin-left: 30px;
  transition: all 0.6s ease;
}
main section.section_banner footer.slogan_footer a:nth-child(2):hover {
  background-color: #005d89;
  color: #ffffff !important;
  border-color: #005d89;
  transition: all 0.6s ease;
  box-shadow: 0 6px 10px rgba(220, 223, 225, 0.3);
}
main section.section_banner div.content_img-banner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
main section.section_banner div.content_img-banner ul {
  display: flex;
  padding: 0;
  width: 400%;
  -webkit-animation: slide 20s infinite alternate ease-in-out;
          animation: slide 20s infinite alternate ease-in-out;
}
main section.section_banner div.content_img-banner ul li {
  width: 100%;
}
main section.section_banner div.content_img-banner ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.6);
}
@-webkit-keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
main section.section_carrucel {
  display: flex !important;
  text-align: center;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  justify-content: center;
  align-items: center;
  -o-object-position: center;
     object-position: center;
  padding: 60px 20px;
  padding: 10px 20px;
  margin-top: 50px;
  margin-right: 0 !important;
  flex-direction: column;
  width: 100vw;
}
main section.section_carrucel h3 {
  color: #005d89;
  text-align: start !important;
  padding-bottom: 20px;
  font-size: 2rem;
}
main section.section_carrucel div.content_main-carrucel {
  position: relative;
}
main section.section_carrucel div.content_main-carrucel svg.arrow_svg {
  height: 55px;
  width: 55px;
  background: #01a0e1;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.6s ease;
  border: 1px solid #01a0e1;
  z-index: 500;
}
main section.section_carrucel div.content_main-carrucel svg.arrow_svg:hover {
  background: #ffffff;
  color: #01a0e1;
  transition: all 0.6s ease;
}
main section.section_carrucel div.content_main-carrucel svg.arrow_svg:first-child {
  left: -26px;
}
main section.section_carrucel div.content_main-carrucel svg.arrow_svg:last-child {
  right: -12px;
}
main section.section_carrucel div.content_main-carrucel ul {
  position: relative;
  padding: 5px !important;
  overflow: hidden;
}
main section.section_carrucel div.content_main-carrucel ul div.content_carrucel {
  display: grid;
  margin-right: 15px;
  grid-auto-flow: column;
  grid-auto-columns: calc(25% - 9px);
  gap: 16px;
  cursor: pointer;
  color: #272727;
  max-width: 1140px;
}
main section.section_carrucel div.content_main-carrucel ul div.content_carrucel li.content_car {
  -o-object-fit: cover;
     object-fit: cover;
  display: grid;
  grid-template-rows: repeat(auto-fill, 300px) 30%;
  border-radius: 20px;
  background-color: #ffffff;
  transition: all 0.6s ease;
}
main section.section_carrucel div.content_main-carrucel ul div.content_carrucel li.content_car:hover {
  box-shadow: 0 5px 3px rgba(47, 50, 50, 0.6);
  transition: all 0.6s ease;
}
main section.section_carrucel div.content_main-carrucel ul div.content_carrucel li.content_car div.img_prod {
  border-bottom: 1px solid rgba(47, 50, 50, 0.2);
  padding: 20px 0;
  width: 100%;
}
main section.section_carrucel div.content_main-carrucel ul div.content_carrucel li.content_car div.img_prod img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main section.section_carrucel div.content_main-carrucel ul div.content_carrucel li.content_car div.content_inf {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 15px;
  text-align: justify;
  width: 100%;
}
main section.section_carrucel div.content_main-carrucel ul div.content_carrucel li.content_car div.content_inf h3 {
  font-size: 1rem;
  font-weight: 100;
  color: #272727 !important;
}
main section.section_carrucel div.content_main-carrucel ul div.content_carrucel li.content_car div.content_inf span.inf_price {
  font-size: 2rem !important;
}
main section.section_carrucel div.content_main-carrucel ul div.content_carrucel li.content_car div.content_inf span.inf_price b:nth-child(2) {
  font-size: 2rem;
  font-weight: normal;
}
main section.section_carrucel div.content_main-carrucel ul div.content_carrucel li.content_car div.content_inf span.inf_estatus {
  font-size: 1rem;
}
main section.section_carrucel div.content_main-carrucel ul div.content_carrucel li.content_car div.content_inf p.description_envio {
  color: #005d89;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 5px;
}
main section.section_carrucel div.content_main-carrucel ul div.content_carrucel li.content_car div.content_inf p.description_status {
  color: #005d89;
  font-size: 1rem;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: end;
  align-items: end;
}
main section.section_carrucel div.content_main-carrucel ul div.content_carrucel li.content_car div.content_inf p.description_product {
  color: #000000;
}/*# sourceMappingURL=styles.css.map */