@import "variables";
@import "general";

@mixin section_flex() {
    display: flex !important;
    text-align: center;
    position: relative;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    object-position: center;
    padding: 60px 20px;

}






p {
    margin-bottom: 0 !important;
}

body {
    color: $color_fuente  !important;
    font-family: 'Montserrat', sans-serif;
    font-size: $fuente_normal  !important;
    overflow-x: hidden;
    background-color: $color_body  !important;

    header {
        width: 100vw;

        div.content_nav {
            display: flex;
            padding: 4px 10px;
            align-items: center;
            justify-content: space-between;

            nav{
            
                &:nth-child(2) {
                    width:auto ;
                }
    
            }

            &:nth-child(1) {
                justify-content: space-between;
                background-color: $color_oscuro;
            }

            &:nth-child(2) {
                background: $color_primario-oscuro  !important;
            }

            h1 {
                display: flex;
                flex-grow: 1;
                flex-basis: 0;
                justify-content: center;

                a {
                    display: flex;

                    &:first-child{
                        display: none;
                    }

                    img.img_logo {
                        padding: 10px;
                        width: 200px;
                        object-fit: cover;
                    }
                }
            }

            div.content_bar {
                width: 500px;
                position: relative;

                input {
                    width: 90%;
                    padding: 10px;
                    padding-right: 35px;
                    border-radius: 5px 0 0 5px;
                    outline: none;
                    border: 0;
                }

                button {
                    width: 50px;
                    border-radius: 0 5px 5px 0;
                    background-color: $color_secundario;
                    border: none;
                    padding: 10px;
                    position: absolute;
                    border: none;
                    top:0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    color: $color_fuente;
                    transition: all .6s ease;

                    &:hover {
                        background-color: $color_fuente;
                        color: $color_secundario;
                        transition: all .6s ease;
                    }
                }
            }

            div.content_bar-options {
                display: flex;
                flex-grow: 1;
                flex-basis: 0;
                justify-content: center;
                align-items: center;
                align-content: center;
                font-size: $fuente_normal;
                margin-left: 25px;

                div.cotent_nav{
                    display: none;
                }

                div.cotent_cat {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-items: center;
                    margin-right: 30px;
                    border-radius: 20px;
                    padding: 10px 15px;
                    background-color: $color_fuente;
                    color: $color_primario-oscuro;
                    cursor: pointer;

                    span {
                        margin: 0 5px;
                    }
                }

                div.content_ubi {
                    display: flex;
                    align-items: end;
                    margin-right: 30px;
                    padding: 7px;
                    cursor: pointer;
                }

                div.content_shop {
                    display: flex;
                    align-items: center;
                    align-content: center;

                    div.contenedor_carrito {
                        color: $color_fuente;
                        display: flex;
                        cursor: pointer;
                        flex-direction: column;

                        span {
                            &:nth-child(1) {
                                color: $color_primario-oscuro;
                                background-color: $color_fuente;
                                border-radius: 50px;
                                width: 30px;
                                text-align: center;
                                line-height: 1.5;
                            }

                            &:nth-child(2) {
                                margin-top: 5px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }

            nav {
                &:nth-child(1) {
                    display: flex;
                    flex-grow: 1;
                    flex-basis: 0;
                    margin-left: 20px;
                }

                &:nth-child(3) {
                    display: flex;
                    flex-grow: 1;
                    flex-basis: 0;
                    justify-content: end;
                    margin-right: 30px;
                }

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                    padding: 0;

                    li {
                        display: flex;
                        padding: 5px 10px;
                        svg{
                            margin-right:5px;
                        }
                    }
                }
            }
        }
    }
}


main {
    display: flex;
    width: 100vw;
    max-width: 1500px;
    flex-direction: column;
    object-position: center;
    align-items: center;

    section.section_banner {
        @include section_flex;
        height: 60vh;
        object-position: center center;
        flex-direction: column;

        header.slogan_header {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 100;

            h2 {
                font-size: $fuentes_h2 ;
                font-weight: 400;
            }

            p {
                font-weight: bold;
                font-size: $text_slogan;
                margin-top: 20px;
            }
        }

        footer.slogan_footer {
            position: relative;
            z-index: 200;
            display: flex;
            flex-grow: 1;
            flex-basis: 0;
            flex-wrap: nowrap;
            align-items: flex-end;

            a {
                border: 3px solid $color_fuente;
                font-size: $fuente_grande;
                font-weight: 500;
                border-radius: 4px;
                display: inline-block;
                padding: 9px 75px;

                &:nth-child(1) {
                    font-weight: bold;
                }

                &:nth-child(2) {
                    background-color: $color_fuente;
                    color: $color_primario-oscuro  !important;
                    margin-left: 30px;
                    transition: all .6s ease;

                    &:hover {
                        background-color: $color_primario-oscuro;
                        color: $color_fuente  !important;
                        border-color: $color_primario-oscuro;
                        transition: all .6s ease;
                        box-shadow: 0 6px 10px rgba(220, 223, 225, 0.3);

                    }
                }
            }
        }

        div.content_img-banner {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
            object-position: top center;
            

            ul {
                display: flex;
                padding: 0;
                width: 400%;
                animation: slide 20s infinite alternate ease-in-out;
                overflow: hidden;
                height: 100%;
                li {
                    width: 100%;
                 

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        filter: brightness(.6);
                    }
                }
            }
        }

    }

    @keyframes slide {
        0% {
            margin-left: 0;
        }

        20% {
            margin-left: 0;
        }

        25% {
            margin-left: -100%;
        }

        45% {
            margin-left: -100%;
        }

        50% {
            margin-left: -200%;
        }

        70% {
            margin-left: -200%;
        }

        75% {
            margin-left: -300%;
        }

        100% {
            margin-left: -300%;
        }
    }


    section.section_carrucel {
        @include section_flex;
        padding: 10px 30px;
        margin-top: 50px;
        margin-right: 0 !important;
        flex-direction: column;
        width: 100vw;

        h3 {
            color: $color_primario-oscuro;
            text-align: start !important;
            padding-bottom: 20px;
            font-size: $fuentes_h3;
        }

        div.content_main-carrucel {
            position: relative;
            

            svg.arrow_svg {
                height: 55px;
                width: 55px;
                background: $color_primario;
                color: $color_fuente;
                text-align: center;
                line-height: 50px;
                border-radius: 50%;
                cursor: pointer;
                position: absolute;
                top: 50%;
                font-size: 1.25rem;
                transform: translateY(-50%);
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
                transition: all .6s ease;
                border: 1px solid $color_primario;
                z-index: 500;

                &:hover {
                    background: $color_fuente;
                    color: $color_primario;
                    transition: all .6s ease;
                }

                &:first-child {
                    left: -26px;
                }

                &:last-child {
                    right: -26px;
                }
            }
     

                ul.content_carrucel {
                    display: grid;
                    margin: 0;
                    grid-auto-flow: column;
                    grid-auto-columns: calc((100%/4) - 10px);
                    gap: 16px;
                    cursor: pointer;
                    color: $color_oscuro;
                    max-width: 1140px;
                    padding: 5px !important;
                    overflow: hidden;
                    scroll-behavior: smooth;
                    overflow-x: auto;
                    scroll-snap-type: x mandatory;
                    scrollbar-width: 0;
                    justify-content: space-between;
    
                    &::-webkit-scrollbar{
                        display: none;
                    }
                    li.card {
                        scroll-snap-align: start;
                        object-fit: cover;
                        display: grid;
                        grid-template-rows: repeat(auto-fill, 300px) 30%;
                        border-radius: 20px;
                        background-color: $color_fuente;
                        transition: all .6s ease;
                        
                        &:hover {
                            box-shadow: 0 5px 3px rgba(47, 50, 50, 0.6);
                            transition: all .6s ease;
                        }

                        div.img_prod {
                            border-bottom: 1px solid rgba(47, 50, 50, 0.2);
                            padding: 20px 0;
                            width: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }

                        div.content_inf {
                            display: flex;
                            justify-content: start;
                            align-items: start;
                            flex-direction: column;
                            padding: 15px;
                            text-align: justify;
                            width: 100%;

                            h3 {
                                font-size: $fuente_grande;
                                font-weight: 100;
                                color: $color_oscuro  !important;
                            }

                            span.inf_price {
                                font-size: $fuentes_h3  !important;

                                b {
                                    &:nth-child(2) {
                                        font-size: $fuentes_h3;
                                        font-weight: normal;
                                    }
                                }
                            }

                            span.inf_estatus {
                                font-size: $fuente_grande;
                            }

                            p.description_envio {
                                color: $color_primario-oscuro;
                                font-size: $fuente_grande;
                                font-weight: bold;
                                margin-top: 5px;
                            }

                            p.description_status {
                                color: $color_primario-oscuro;
                                font-size: $fuente_grande;
                                display: flex;
                                flex-grow: 1;
                                flex-basis: 0;
                                justify-content: end;
                                align-items: end;
                            }

                            p.description_product {
                                color: $color_fuente-oscuro;
                            }
                        }
                    }
                }
            

        }


    }
}


footer.footer_section{
    background-color: $color_oscuro;
    @include section_flex;
    flex-direction: column !important;
    width: 100vw;
     
    div{
        display: flex;
        align-items: flex-start !important;
        text-align: start;
        padding: 10px 15px;
       
        &:nth-child(2){
            flex-direction: column;
            align-items: center !important;
            
           
                ul.nav_copi{
                    display: flex;
                    text-align: center !important;
                    margin: 0 !important;
                    padding:0 !important;
                    
                    li{
                        padding: 5px;
                    margin: 0 5px;
                    }
                    p{
                        text-align: center !important;
                    }
                   
                
            }
    
        

        }
        
    }
}

@media screen and (max-width: $breakpoint-md) {

    div.content_nav {
    
        nav{
            
            &:nth-child(2) {
                width:100% ;
            }

        }
    }

    div.content_bar-options{
        div{
            display: none !important;
            width: 55px !important;
            &:first-child{
                display: flex !important;
                width: 100%;
            }
        }
    }

    h1 {
        
        a {
            display: flex !important;

            &:last-child{
                display: none !important;
            }

            img.img_logo {
                padding: 10px;
                width: 70px !important;
                object-fit: cover;
            }
        }
    }

    section{
        max-width: 992px !important; 
    }

    h2{
        font-size: $fuentes_h2-media-md  !important;
    }

    h3{
        font-size: $fuentes_h3-md !important;
    }

    .slogan_header p{
        font-size:$text_slogan-media-md !important;
    }

    ul.content_carrucel {
        max-width: 992px !important;
        grid-auto-columns: calc((100% / 2) - 10px) !important;
    }
}


@media screen and (max-width: $breakpoint-sm) {


    div.content_nav {
        justify-content: center !important;
        nav{
            &:nth-child(1) {
                display: none !important;
            }

            &:nth-child(2) {
                width:100% !important;
            }
    
            &:nth-child(3) {
                display: none !important;
            }
        }

        }

        div.content_bar-options{
            div{
                display: none !important;
                
                &:first-child{
                    display: flex !important;
                    width: 35px !important;
                }
            }
        }

    h1 {
        
        a {
            display: flex !important;

            &:last-child{
                display: none !important;
            }

            img.img_logo {
                padding: 10px;
                width: 50px !important;
                object-fit: cover;
            }
        }
    }

    section{
        max-width: 600px !important;
    }

    h2 {
        font-size: $fuentes_h2-media-sm  !important;
    }

    h3 {
        font-size: $fuentes_h3-sm !important;
    }

    .slogan_header p{
        font-size:$text_slogan-media-sm !important;
    }

    main section.section_banner footer.slogan_footer {
        flex-direction: column;
        justify-content: flex-end;
        a{
            &:nth-child(2){
                margin: 20px 0 0 0;
            }
        }

}

    ul.content_carrucel {
        max-width: 600px !important;
        grid-auto-columns: 100% !important;
    }

    footer.slogan_footer {
        a{
            font-size:$text_slogan-media-sm;
        }
        }

        footer.footer_section div{
            div{
                display: none!important;
            }
        }

}