$color_primario: #01a0e1;
$color_primario-oscuro:#005d89;
$color_secundario: #fec400;
$color_oscuro: #272727;
$color_fuente:#ffffff;
$color_fuente-oscuro:#131414;
$color_body:rgb(235, 236, 242);

$fuente_grande: 1rem;
$fuente_normal: 0.8rem;
$fuente_pequena: 0.6rem;
$fuentes_h2:3rem;
$fuentes_h2-media-md:1.8rem;
$fuentes_h2-media-sm:1.4rem;
$fuentes_h3:1.8rem;
$fuentes_h3-md:1.6rem;
$fuentes_h3-sm:1.2rem;
$text_slogan:1.2rem;
$text_slogan-media-md:1rem;
$text_slogan-media-sm:0.8rem;

$breakpoint-sm:600px;
$breakpoint-md:992px;
$breakpoint-xl:1200px;