$color_primario: #01a0e1;
$color_primario-oscuro:#005d89;
$color_secundario: #fec400;
$color_oscuro: #272727;
$color_fuente:#ffffff;
$color_fuente-oscuro:#000000;
$color_body:rgb(235, 236, 242);

$fuente_grande: 1.2rem;
$fuente_normal: 0.9rem;
$fuente_pequena: 0.6rem;