@import "variables";
@import "general";


body{

    main.main_login{
        display: flex;
        // width: 100vw;
        flex-direction: column;
        -o-object-position: center;
        object-position: center;
        align-items: center;

        header.login_logo{
            margin-top: 30px;
            width: 200px;
            
            img{
                width:100%;
            }
        }
    
        section.content_main-login{
          height: 100%;

            form{
                @include section_flex;
                flex-direction: column;
                padding:10px;
                background: $color_fuente;
                color: $color_primario-oscuro;
                border-radius: 20px;
                margin-top:20px;
                padding: 10px 20px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
                font-size:$fuente_normal;
                max-width: 440px;

                h2{
                    margin-top:20px;
                }

                div.instruction_info{
                    width: 100%
                }

                div{
                    @include section_flex;
                flex-direction: column;
                padding:10px;
                align-items: flex-start;
                margin-top: 20px;

                label{
                    font-size: $fuente_grande;
                    padding:5px;
                }
                input{
                    width: 400px;
                    height: 45px;
                    border: 1px solid $color_primario-oscuro;
                    border-radius: 5px;
                    padding: 10px;
                    outline: none;

                    &:focus{
                        border: 2px solid $color_primario-oscuro;

                    } 
                }

                }

                a{
                    color:$color_primario-oscuro;
                    text-decoration: underline !important;
                    margin-top: 5px;
                
                }

                button.btn_iniciar{
                    background-color: $color_primario-oscuro;
                    border: 1px solid  $color_primario-oscuro;
                    padding:10px 20px;
                    color:$color_fuente;
                    font-size:$fuente_normal;
                    margin-top:20px;
                    border-radius: 5px;
                    width: 100%;
                    transition: all 0.6s ease;
                    cursor:pointer;

                    &:hover{
                      background-color:$color_fuente;
                      color: $color_primario-oscuro;

                      transition: all 0.6s ease;

                    }
                }
            
            }
        }
    }
}