$color_primario: #01a0e1;
$color_primario-oscuro:#005d89;
$color_secundario: #fec400;
$color_oscuro: #272727;
$color_fuente:#ffffff;
$color_fuente-oscuro:#131414;
$color_body:rgb(235, 236, 242);

$fuente_grande: 1rem;
$fuente_normal: 0.8rem;
$fuente_pequena: 0.6rem;
$fuentes_h2:2.4rem;
$fuentes_h2-media-md:1.7rem;
$fuentes_h2-media-sm:1.5rem;
$fuentes_h3:1.5rem;
$fuentes_h3-md:1.3rem;
$fuentes_h3-sm:1.1rem;
$text_slogan:1.1rem;
$text_slogan-media-md:.9rem;
$text_slogan-media-sm:0.9rem;
$fuente_nombre-cat:1.5rem;
$fuente_precio-cat:1.7rem;

$breakpoint-sm:600px;
$breakpoint-md:992px;
$breakpoint-xl:1200px;